* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;

}

/* <--- Sidebar ----> */

.container {
  display: flex;
}

main {
  width: 100%;
  padding: 3rem;
  background-color: #0e0e0e;
  height: 100%;
  margin: 0 auto;
}

.sidebar {
  background-color: rgb(38, 38, 38);
  color: #fff;
  height: 100%;
  min-height: 100vh;
  width: 18.75rem;
  transition: all 0.2s ease-out;

}


/* meidum screens */
@media all and (max-width: 800px) {
  .sidebar {
    height: 100%;
    position: fixed;
    z-index: 1;
    width: 100%;
  }
}

.top_section {
  display: flex;
  align-items: center;
  padding: 1.8rem 1rem;
}

.logo {
  font-size: 2rem;
}

.bars {
  display: flex;
  font-size: 1.8rem;
  margin-left: 3rem;
  cursor: pointer;

}

.link {
  display: flex;
  color: #fff;
  padding: 0.7rem 1rem;
  gap: 1rem;
  transition: all 0.5s;

}

.link:hover {
  background-color: limegreen;
  color: black;
  transition: all 0.5s;
}

.active {
  background-color: limegreen;
  color: black;
}

.icon,
.link_text {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

/* <--- Graph of population ----> */

.population-graph-container {
  width: 31.25rem;
  background-color: rgb(38, 38, 38);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/* meidum screens */
@media all and (min-width: 679px) and (max-width: 1024px) {
  .population-graph-container {
    width: fit-content;
    background-color: rgb(38, 38, 38);

  }
}

@media all and (min-width: 280px) and (max-width: 767px) {
  body {
    width: fit-content;
    background-color: #0e0e0e;
  }
}

/* <--- Display Cryptocurrency Prices ----> */

.prices-card-container {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #0e0e0e;
}

.prices-card {
  width: 25%;
  min-width: 300px;
  padding: 0.8rem;
  background-color: rgb(38, 38, 38);
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.top_section_prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_section_prices>p {
  font-size: 2rem;
  background-color: limegreen;
  padding: 1rem 1.8rem;
  border: 2px solid wheat;
  border-radius: 50%;
  width: 5%;
}

.middle_section_prices {
  padding-top: 2rem;
}

.rate {
  margin: 0.5rem 0;
  font-size: 2rem;
}


@media all and (max-width: 800px) {
  .prices-card {
    width: 100%;
  }
}

/* Home page */

.flex-container {
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 800px) {
  .flex-container  {
    margin-left: 4rem;
  }
}

